/* Font Faces
----------------------------------------------- */
@font-face {
  font-family: 'WalkwayBold';
  src: url("/includes/type/Walkway_Bold.eot");
  src: url("/includes/type/Walkway_Bold.ttf") format("truetype"), url("/includes/type/Walkway_Bold.svg#Walkway_Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Overwrites and Tag Declarations
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  line-height: 1;
  min-height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

.clear, section article, section#process article div.container ul, section#works article div.container ul, section#contact article div.container ul, body.questionnaire form, body.questionnaire form fieldset {
  display: block;
}

.clear:after, section article:after, section#process article div.container ul:after, section#works article div.container ul:after, section#contact article div.container ul:after, body.questionnaire form:after, body.questionnaire form fieldset:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

* html .clear, * html section article, section * html article, * html section#process article div.container ul, section#process article div.container * html ul, * html section#works article div.container ul, section#works article div.container * html ul, * html section#contact article div.container ul, section#contact article div.container * html ul, * html body.questionnaire form, body.questionnaire * html form, * html body.questionnaire form fieldset, body.questionnaire form * html fieldset {
  height: 1%;
}

.fancybox-outer, .fancybox-skin {
  background-color: rgba(0, 0, 0, 0) ! important; /* or whatever */
  -webkit-box-shadow: none ! important;
  -moz-box-shadow: none ! important;
  box-shadow: none ! important;
}

/* Navigation
----------------------------------------------- */
nav {

  ul li {
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
  }

  .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .navbar-nav > li {
    float: none;
    display: inline-block;
  }

  #logo {
    width: 238px;
    height: 48px;
    background: transparent image-url('logo.png') no-repeat scroll 0 0;
    display: inline-block;
    position: relative;
    top: 11px;
  }
}

/* Sections
----------------------------------------------- */
section, footer {
  header {
    background-attachment: fixed;
    background-position: top left;
    background-size: cover;
    height: 500px;
    position: relative;
    width: 100%;
    margin-bottom: 69px
  }
  header h1 {
    color: #fff;
    display: block;
    font: normal 26px/60px 'WalkwayBold', Arial, Helvetica, Verdana, sans-serif;
    left: 50%;
    margin: -80px 0 0 -480px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    top: 50%;
    width: 960px;
    z-index: 0;
    font-size: 78px;
  }
  header h2 {
    color: #fff;
    display: block;
    font: normal 78px/78px 'WalkwayBold', Arial, Helvetica, Verdana, sans-serif;
    left: 50%;
    margin: -80px 0 0 -480px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    top: 55%;
    width: 960px;
  }
  &#hero header {
    background-image: image-url('IMG_2298.jpg');
  }
  margin-top: 69px;
  &#lifestyle header {
    background-image: image-url('IMG_0362_2.jpg');
  }
  &#little_ones header {
    background-image: image-url('20101003.17.05.40IMG_7953.jpg');
  }
  &#love header {
    background-image: image-url('20100516.18.00.25.IMG_3670-Edit.jpg');
  }
  &#investment header {
    background-image: image-url('investment.jpg');
  }
  &#contact header {
    background-image: image-url('marin_map.jpg');
  }
}

section {
  article {
    padding: 0;
    position: relative;
    z-index: 10;

    div.container {
      margin: 0 auto 60px auto;
      width: 1125px;

      p {
        font-size: 21px;
        line-height: 30px;

        font-family: 'WalkwayBold', Arial, Helvetica, Verdana, sans-serif;;
      }
    }
  }
  article div.container h3 {
    color: #000;
    font: normal 40px/50px 'WalkwayBold', Arial, Helvetica, Verdana, sans-serif;
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
  }
  article div.container h4 {
    color: #000;
    font: normal 25px/30px 'WalkwayBold', Arial, Helvetica, Verdana, sans-serif;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  .gallery {
    height: 480px;
    .img-wrapper {
      border: 1px solid #ccc;
      background-color: white;
      padding: 9px;
      margin: 7px;
      width: 220px;
      float: left;
      & > div {
        height: 200px;
        width: 200px;
      }
    }
  }
  &#error {
    background-image: url(../images/contact.jpg);
  }
}

footer {
  article {
    padding-bottom: 50px;
    text-align: center;

    .contact_icon {
      border-radius: 90px;
      -moz-border-radius: 90px;
      -webkit-border-radius: 90px;
      box-shadow: 0 0 10px black;
      -moz-box-shadow: 0 0 10px black;
      -webkit-box-shadow: 0 0 10px black;
      margin: 0 20px;
      display: inline-block;
      text-indent: -9999px;
      width: 180px;
      height: 180px;
      background-position: top left;
    }
    .mitch {
      background-image: image-url('336822_10150327461763468_1676773764_o.jpg');
      background-position-x: -86px;
      background-position-y: -54px;
      background-size: 200%;
    }
    .megs {
      background-image: image-url('IMG_9981-2.jpg');
      background-position-x: -44px;
      background-position-y: -28px;
      background-size: 162%;
    }

    h3 {
      color: #000;
      font: normal 40px/50px 'WalkwayBold', Arial, Helvetica, Verdana, sans-serif;
      margin: 0 0 20px 0;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      color: #565656;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    p:last-of-type {
      font-size: 14px;
      line-height: 20px;
    }
    ul {
      margin: 120px 0 5px 0;
    }
    ul li {
      color: #565656;
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
    }
    ul li:first-of-type:after {
      content: '|';
      display: inline-block;
      margin: 0 5px 0 3px;
      position: relative;
      top: -1px;
    }
    a {
      color: #0085a2;
    }
  }
}

/* Tablet - Landscape
----------------------------------------------- */
@media all and (max-width: 1024px) {
  body {
    -webkit-text-size-adjust: none;
  }

  /* Navigation
  ----------------------------------------------- */
  nav {
    display: none;
  }

  /* Sections
  ----------------------------------------------- */
  section {
    background-attachment: scroll;
    background-position: center -130px;
    background-size: 102% auto;
    /* About */
    /* Process */
    /* Works */
    /* Contact */
  }
  section header {
    height: 300px;
  }
  section header h1,
  section header h2 {
    font-size: 60px;
    line-height: 65px;
    left: 0;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 70px;
    width: 800px;
  }
  section article {
    padding-bottom: 100px;
    padding-top: 50px;
  }
  section article div.container {
    position: relative;
    width: 800px;
  }
  section#about {
    background-image: url(../images/about.jpg);
  }
  section#about video {
    display: none;
  }
  section#about header h1 {
    font-size: 20px;
    line-height: 25px;
    top: 80px;
  }
  section#about header h1 b {
    font-size: 60px;
    line-height: 65px;
  }
  section#about article div.container div {
    height: auto;
    padding: 270px 0 0 0;
    width: 390px;
  }
  section#about article div.container div img {
    height: 270px;
    width: 390px;
  }
  section#about article div.container div div {
    height: auto;
    left: auto;
    padding: 40px;
    position: static;
    top: auto;
    width: 310px;
  }
  section#about article div.container div div h4 {
    font-size: 20px;
    line-height: 25px;
  }
  section#about article div.container div div p {
    margin-bottom: 20px;
  }
  section#process article div.container img {
    height: auto;
    width: 100%;
  }
  section#process article div.container ul li {
    padding: 30px 30px 30px 50px;
    width: 290px;
  }
  section#process article div.container ul li h4 {
    font-size: 20px;
    line-height: 25px;
  }
  section#process article div.container ul li h4 b {
    right: 295px;
  }
  section#process article div.container ul li p {
    margin-top: 0;
  }
  section#works article div.container ul {
    margin: 0;
    width: 100%;
  }
  section#works article div.container ul li {
    height: auto;
    padding: 190px 0 0 0;
    width: 190px;
  }
  section#works article div.container ul li img {
    height: 190px;
    width: 190px;
  }
  section#works article div.container ul li div {
    height: 80px;
    left: auto;
    padding: 10px;
    position: static;
    top: auto;
    width: 170px;
  }
  section#works article div.container ul li div h4 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  section#works article div.container ul li div p {
    display: none;
  }
  section#works article div.container ul li div a {
    color: #cecece;
  }
  section#works article div.container ul li div a:hover {
    color: #fff;
  }
  section#contact header h2 {
    top: 70px;
  }
  section#contact header p {
    display: none;
  }
  section#contact article div.container h3 {
    font-size: 40px;
  }
  section#contact article div.container p:last-of-type {
    margin-bottom: -80px;
  }
}

/* Tablet - Portrait
----------------------------------------------- */
@media all and (max-width: 810px) {
  /* Sections
  ----------------------------------------------- */
  section {
    background-position: center -60px;
    /* About */
    /* Process */
    /* Works */
  }
  section header h1,
  section header h2 {
    font-size: 50px;
    line-height: 55px;
    width: 600px;
  }
  section article div.container {
    width: 600px;
  }
  section#about {
    background-position: center -60px;
  }
  section#about header h1 {
    font-size: 16px;
    line-height: 20px;
    top: 90px;
  }
  section#about header h1 b {
    font-size: 45px;
    line-height: 50px;
  }
  section#about article div.container div {
    padding: 201px 0 0 0;
    width: 290px;
  }
  section#about article div.container div img {
    height: 201px;
    width: 290px;
  }
  section#about article div.container div div {
    padding: 30px;
    width: 230px;
  }
  section#process article div.container ul li {
    height: 290px;
    width: 210px;
  }
  section#process article div.container ul li h4 b {
    right: 215px;
  }
  section#works article div.container ul li {
    margin: 0 15px 15px 0;
  }
  section#works article div.container ul li:nth-of-type(4n + 4) {
    float: left;
    margin-right: 15px;
  }
  section#works article div.container ul li:nth-of-type(3n + 3) {
    float: right;
    margin-right: 0;
  }

  /* Questionnaire
  ----------------------------------------------- */
  body.questionnaire {
    padding: 13px 0;
  }
}

/* Mobile - Landscape
----------------------------------------------- */
@media all and (max-width: 568px) {
  /* Sections
  ----------------------------------------------- */
  section {
    background-position: center -60px;
    /* About */
    /* Process */
    /* Works */
    /* Contact */
    /* Contact */
  }
  section header {
    height: 150px;
  }
  section header h1,
  section header h2 {
    font-size: 25px;
    line-height: 30px;
    margin: 0 auto;
    padding: 0;
    top: 30px;
    width: 96%;
  }
  section article {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  section article div.container {
    margin: 0 auto;
    width: 90%;
  }
  section#about header h1 {
    font-size: 14px;
    line-height: 16px;
    top: 40px;
  }
  section#about header h1 b {
    font-size: 25px;
    line-height: 40px;
  }
  section#about article div.container h2 {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 18px 0;
  }
  section#about article div.container p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
  }
  section#about article div.container div {
    display: none;
  }
  section#process header h2 {
    top: 50px;
  }
  section#process article div.container img {
    display: none;
  }
  section#process article div.container h3 {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 18px 0;
    padding: 0;
  }
  section#process article div.container p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  section#process article div.container ul li {
    float: none;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  section#process article div.container ul li:nth-of-type(2n + 2) {
    float: none;
    margin-right: auto;
  }
  section#process article div.container ul li h4 {
    margin: 0;
  }
  section#process article div.container ul li p {
    display: none;
  }
  section#works {
    display: none;
  }
  section#works header h2 {
    top: 50px;
  }
  section#works article div.container h3 {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 18px 0;
    padding: 0;
  }
  section#works article div.container p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  section#works article div.container ul li {
    float: none;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  section#works article div.container ul li:nth-of-type(2n + 2) {
    float: none;
    margin-right: auto;
  }
  section#works article div.container ul li img {
    display: none;
  }
  section#works article div.container ul li div {
    height: auto;
  }
  section#works article div.container ul li div h4 {
    margin: 0;
  }
  section#works article div.container ul li div p {
    display: none;
  }
  section#contact header h2 {
    top: 60px;
  }
  section#contact header p {
    display: none;
  }
  section#contact article div.container h3 {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
  }
  section#contact article div.container p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  section#contact article div.container p:last-of-type {
    margin-bottom: -20px;
    margin-top: 40px;
  }
  section#contact article div.container ul {
    margin: -5px 0 0 0;
  }
  section#contact article div.container ul li {
    margin: 0 -20px;
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
  }
  section#error header h2 {
    top: 45px;
  }
}

/* Mobile - Tablet
----------------------------------------------- */
@media all and (max-width: 320px) {
  /* Sections
  ----------------------------------------------- */
  section {
    background-position: center top;
    /* About */
    /* Contact */
  }
  section#about {
    background-position: center -25px;
  }
  section#contact header h2 {
    top: 45px;
  }
}
