%section#hero
  %header
    %h1
      Mitch and Megs Photography
%nav.navbar.navbar-fixed-top#navbar
  %ul.nav.navbar-nav
    %li
      %a{:href => "#lifestyle", :title => "Lifestyle"} Lifestyle
    %li
      %a{:href => "#little_ones", :title => "Little Ones"} Little Ones
    %li
      %a{:href => "#love", :title => "Love"} Love
    %li
      %a{:href => "#about", id: "logo"}
    %li
      %a{:href => "#investment", :title => "Investment"} Investment
    %li
      %a{:href => "http://blog.mitchandmegs.com/", :title => "Blog"} Blog
    %li
      %a{:href => "#contact", :title => "Contact"} Contact
%section#about
  %article
    .container
      %h3
        CAPTURING MEMORIES FOR A LIFETIME
      %p
        We are photographers in the beautiful Northern San Francisco Bay Area specializing in personal experiences. For us photography is more than a studio and a nice glossy 8x10 to hang on the wall. It’s about getting to know our clients and finding ways to express who they are in photographs and capturing images for a lifetime to come.
%section#lifestyle
  %header
    %h2
      Lifestyle
  %article
    .container
      %h3 Tell your story. Lifestyle photography is an honest reflection of who you are.
      %p
        Lifestyle images can include but are not limited to senior portraits, family portraits, and anytime sessions.
    #lifestyle_gallery.gallery
      =gallery_wrapper("lifestyle/lifestyle-1", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-2", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-3", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-4", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-5", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-6", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-7", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-8", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-9", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-10", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-11", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-12", "lifestyle_gallery")
    #lifestyle_gallery_timer{style: "height:3px;background-color:#000;"}
    %script
      \ jQuery(homeGallery.lifestyle());
%section#little_ones
  %header
    %h2
      Little Ones
  %article
    .container
      %h3 Helping your little ones stay small for just a little bit longer.
      %p
        All Little Ones sessions include bubbles upon request. Really really BIG bubbles!
    #children_gallery.gallery
      =gallery_wrapper("little_ones/little_ones-1", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-2", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-3", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-4", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-5", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-6", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-7", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-8", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-9", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-10", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-11", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-12", "children_gallery")
    #children_gallery_timer{style: "height:3px;background-color:#000;"}
    %script
      \ jQuery(homeGallery.children());
%section#love
  %header
    %h2
      Love
  %article
    .container
      %h3 Love. Story.
      %p
        We love Love! We also love engagements and weddings. If you’re interested in having us capture your love please contact us for further details for your Big Day!
    #love_gallery.gallery
      =gallery_wrapper("love/love-1", "love_gallery")
      =gallery_wrapper("love/love-2", "love_gallery")
      =gallery_wrapper("love/love-3", "love_gallery")
      =gallery_wrapper("love/love-4", "love_gallery")
      =gallery_wrapper("love/love-5", "love_gallery")
      =gallery_wrapper("love/love-6", "love_gallery")
      =gallery_wrapper("love/love-7", "love_gallery")
      =gallery_wrapper("love/love-8", "love_gallery")
      =gallery_wrapper("love/love-9", "love_gallery")
      =gallery_wrapper("love/love-10", "love_gallery")
      =gallery_wrapper("love/love-11", "love_gallery")
      =gallery_wrapper("love/love-12", "love_gallery")
      =gallery_wrapper("love/love-13", "love_gallery")
      =gallery_wrapper("love/love-14", "love_gallery")
      =gallery_wrapper("love/love-15", "love_gallery")
      =gallery_wrapper("love/love-16", "love_gallery")
      =gallery_wrapper("love/love-17", "love_gallery")
      =gallery_wrapper("love/love-18", "love_gallery")
      =gallery_wrapper("love/love-19", "love_gallery")
    #love_gallery_timer{style: "height:3px;background-color:#000;"}
    %script
      \ jQuery(homeGallery.love());
%section#investment
  %header
    %h2
      Investment
  %article
    .container
      %h3
        Photography is an investment in preserving our memories.
      %h4
        Own Your Memories
      %p
        We want you to own your photos and your memories. So, with every package you receive a CD of "personal use" digital images. These are perfect for posting to the web, sharing with friends, and to print 5x7 images from so feel free to share your images.
      %h4
        Print. Love.
      %p
        We want you to have your images but we also want to make sure you get the most out of your pictures. When you use our printing services for large prints they are set on high quality Kodak paper and printed with inks what are designed to not only resist fading but provide the truest colors (so your daughter's red dress is really red and your baby’s blue eyes are as blue as you remember them). The print and quality will make your investment in photography really shine.
%footer#contact
  %header
    %h2 Contact
  %article
    .container{style: "text-align: center;"}
      .contact_icon.mitch
      .contact_icon.megs
    .container
      %h3 Call Us
      %p 415-300-0634
      %h3 Email Us
      %p
        %a{:href => "mailto:hello@mitchandmegs.com"} hello@mitchandmegs.com
      %ul
        %li
          %a{:href => "http://www.facebook.com/pages/Megs-Photography/12545728467", :title=>"Facebook", :target=>"_blank"} Facebook
        %li
          %a{:href => "http://twitter.com/megsphotography", :title=>"Twitter", :target=>"_blank"} Twitter
      %p ©2017 Mitch and Megs, LLC
%script
  \  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  \  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  \  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  \  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  \  ga('create', 'UA-21379909-1', 'mitchandmegs.com');
  \  ga('send', 'pageview');