%section#hero
  %header
    %h1
      Mitch and Megs Photography Static Site
%nav.navbar.navbar-fixed-top#navbar
  %ul.nav.navbar-nav
    %li
      %a{:href => "#lifestyle", :title => "Lifestyle"} Lifestyle
    %li
      %a{:href => "#little_ones", :title => "Little Ones"} Little Ones
    %li
      %a{:href => "#love", :title => "Love"} Love
    %li
      %a{:href => "#about", id: "logo"}
    %li
      %a{:href => "#investment", :title => "Investment"} Investment
    %li
      %a{:href => "http://blog.mitchandmegsphotography.com/", :title => "Blog"} Blog
    %li
      %a{:href => "#contact", :title => "Contact"} Contact
%section#about
  %article
    .container
      %h3
        CAPTURING MEMORIES FOR A LIFETIME
      %p
        We are photographers in the beautiful Northern San Francisco Bay Area specializing in personal experiences. For us, photography is more than a studio and a nice glossy 8x10 to hang on the wall. It's about capturing images that will be memories for a lifetime to come. It’s about getting to know our clients and finding ways express who they are in photographs.  Whether you’re an expecting mother or a bride to be, we treat every client with love and respect.
%section#lifestyle
  %header
    %h2
      Lifestyle
  %article
    .container
      %h3 Capturing your story
      %p
        Sometimes its the small moments that make today wonderful.  The candid, natural moments that happen between the hussle and bussle.  This is the story we try to tell, the story of you and all that makes you wonderful.
    #lifestyle_gallery.gallery
      =gallery_wrapper("lifestyle/lifestyle-1", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-2", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-3", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-4", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-5", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-6", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-7", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-8", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-9", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-10", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-11", "lifestyle_gallery")
      =gallery_wrapper("lifestyle/lifestyle-12", "lifestyle_gallery")
    #lifestyle_gallery_timer{style: "height:3px;background-color:#000;"}
    %script
      \ homeGallery.lifestyle();
%section#little_ones
  %header
    %h2
      Little Ones
  %article
    .container
      %h3 Helping your little ones stay small for just a little bit longer...
      %p
        Hold on to the story and memories of your little one’s life just as they are right now.
    #children_gallery.gallery
      =gallery_wrapper("little_ones/little_ones-1", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-2", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-3", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-4", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-5", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-6", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-7", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-8", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-9", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-10", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-11", "children_gallery")
      =gallery_wrapper("little_ones/little_ones-12", "children_gallery")
    #children_gallery_timer{style: "height:3px;background-color:#000;"}
    %script
      \ homeGallery.children();
%section#love
  %header
    %h2
      Love
  %article
    .container
      %h3 We love Love!
      %p
        We love Love! We also love engagements and weddings. If you’re interested in having us capture your love, please contact us to schedule a consultation.  Engagement sessions can be done as part of a wedding package or separately.  For weddings we are a full service, full day company, providing complete coverage of your day.
    #love_gallery.gallery
      =gallery_wrapper("love/love-1", "love_gallery")
      =gallery_wrapper("love/love-2", "love_gallery")
      =gallery_wrapper("love/love-3", "love_gallery")
      =gallery_wrapper("love/love-4", "love_gallery")
      =gallery_wrapper("love/love-5", "love_gallery")
      =gallery_wrapper("love/love-6", "love_gallery")
      =gallery_wrapper("love/love-7", "love_gallery")
      =gallery_wrapper("love/love-8", "love_gallery")
      =gallery_wrapper("love/love-9", "love_gallery")
      =gallery_wrapper("love/love-10", "love_gallery")
      =gallery_wrapper("love/love-11", "love_gallery")
      =gallery_wrapper("love/love-12", "love_gallery")
      =gallery_wrapper("love/love-13", "love_gallery")
      =gallery_wrapper("love/love-14", "love_gallery")
      =gallery_wrapper("love/love-15", "love_gallery")
      =gallery_wrapper("love/love-16", "love_gallery")
      =gallery_wrapper("love/love-17", "love_gallery")
      =gallery_wrapper("love/love-18", "love_gallery")
      =gallery_wrapper("love/love-19", "love_gallery")
    #love_gallery_timer{style: "height:3px;background-color:#000;"}
    %script
      \ homeGallery.love();
%section#investment
  %header
    %h2
      Investment
  %article
    .container
      %h3
        Photography is an investment in preserving our memories.
      %p
        Photographs have an amazing power to bring us back to a moment in time.
        So many memories locked up in a single image, telling a story of an instant.
        This, above all else, is why we are photographers.
        Life is fleeting and the memories that can be captured and held onto are like investments in ourselves and our futures.
        This is why we try so hard to give you these memories and hold on to them forever.
      %h4
        Set Your Pixels Free
      %p
        Mamas don't let your babies grow up to be pixels. We love prints! They are something substantial and meaningful to capture and hold on to. When Facebook is gone or CDs are obsolete, the one thing that will stand the test of time and act as an heirloom for future generations are prints. That's why we provide printing services for all of our clients. We want to make sure that you get the best quality to preserve your memories and keep them around for years to come. Albums and canvases are also available upon request.
      %h4
        Wait, you give out CDs
      %p
        We want you to own your photos and your memories. So, with every package you receive a CD of "personal uses" digital images. These are perfect for posting to the web, sharing with friends, and are high enough quality to print 5x7 images from. So feel free to share your images.
      %h4
        Great, that means I can get prints for cheap somewhere else.
      %p
        We want you to have the freedom to use the images as you please but we also want to make sure you get the most out of your pictures. When you use our printing services, your prints are set on high quality Kodak paper and printed in inks what are designed to not only resist fading but provide the truest colors, so your daughter's red dress is really red and your fiance's blue eyes as blue as you remember them. It does costs a bit more than your local big box store, but the quality will make your investment in photography really shine.
%footer#contact
  %header
    %h2 Contact
  %article
    .container{style: "text-align: center;"}
      .contact_icon.mitch
      .contact_icon.megs
    .container
      %h3 Call Us
      %p 415-300-0634
      %h3 Email Us
      %p
        %a{:href => "mailto:hello@mitchandmegs.com"} hello@mitchandmegs.com
      %ul
        %li
          %a{:href => "http://www.facebook.com/pages/Megs-Photography/12545728467", :title=>"Facebook", :target=>"_blank"} Facebook
        %li
          %a{:href => "http://twitter.com/megsphotography", :title=>"Twitter", :target=>"_blank"} Twitter
      %p ©2014 Mitch and Megs, LLC


